//colors
$grey-color-dark: #48494f;
$grey-color-light2: #9b9b9b;
$grey-color-light: #CBCBCB;
$bg-color: #2D2D32;
$green-color: #21B249;

//styles
.carnelits-area {
  padding: 50px;

  margin: 0 auto;
}
